.introduction_section {
    position: relative;
    height: 800px;
    margin-bottom: 200PX;
}
.introduction_section img {
    width: 22%;
    position: absolute;
    right: 20%;
    bottom: 0;
}
@media screen and (max-width: 1350px) {
    .introduction_section img {
        transform: scale(1.2);
        top: 30%;
        right: 10%;
    }


}
@media screen and (max-width: 1100px) {
    .introduction_section img {
        transform: scale(1.6);
        top: 30%;
        right: 5%;
    }
}

.tagline {
    position: absolute;
    top: 40%;
    left: 10%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    width: 500px;
    color: rgb(35, 35, 35);
    animation: slide-up 1s;
}
.stuff {
    color: rgb(255, 49, 49);
}
@keyframes slide-up {
    from {
        opacity: 0.2;
        top: 50%;
    }
    to {
        opacity: 1;
    }
}
