@media (max-width: 700px) {
    .tagline {
        transform: scale(0.6);
        top: 80%;
        text-align: center;
    }
    .introduction_section {
        height: 600px;
    }
    .introduction_section img {
        top: 15%;
        right: 50%;
        transform: scale(1.3);
    }
    .services_sections {
        display: flex;
        flex-direction: column;
        width: auto;
    }
    footer {
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    .make_a_message {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-bottom: 10px;
    }
    .upper_tool_bar {
        height: 80px;
    }
    .upper_tool_bar img{
        width: 0;
    }
    .menu_container {
        margin-left: -40px;
    }
    .menu {
        font-size: 12px;
        width: 70px;
    }
}
@media (max-width: 800px) {
    .services_sections {
        grid-template-columns: 1fr 1fr;
        width: auto;
    }
    .service {
        margin-left: 30px;
    }
    .tagline {
        left: 2%;
        font-size: 60px;
        width: 380px;
        margin-left: 10%;
    }
    .introduction_section img {
        width: 100%;
        top: 35%;
        right: 8%;
        transform: scale(1.2);
    }
}